/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#mainView {
  display: flex;
  height: 75vh;
}
#detailsView {
  display: flex;
  max-width: 70%;
  margin: 1%;
  margin-top: 3%;
}
#recipesView {
  max-width: 30%;
  margin: 1%;
  margin-left: 2%;
  overflow-y:auto;
}
#directionsView {
  width: 40vh;
}
#ingredientsView {
  width: 30vh;
}
#descriptionView {
  width: 30vh;
}
#selectInput {
  max-width: 15%;
}
.specials {
  background-color: rosybrown;
  max-width: 75%;
  padding: 1%;
}
.text {
  margin-left: 5%;
  margin-top: 1%;
}
.recipe {
  white-space: pre-wrap;
  margin-top: 10%;
}
.recipe:hover {
  border-radius: 25%;
  background-color: rosybrown;
}

img {
  max-width: 80%;
  max-height: 70%;
  margin-left: 10%;
  margin-top: 5%;
  border-radius: 25%;
}

p {
  font-size: 13px;
  margin-top: 3%;
  margin-bottom: 3%;
}
h1 {
  font-size: 18px;
  text-align: center;
}
h2 {
  font-size: 14px;
  font-weight: bold;
  max-width: 95%;
}
a {
  color: white;
}
a:hover {
  color: white;
  text-decoration: none;
}
ul {
  max-width: 10%;
  margin-left: 3%;
  list-style-type:none;
  display:flex;
  flex-direction: column;
  justify-content: center
}
ul li {
  display: list-item;
  flex-direction: column;
}
li {
  height : 25%;
  margin: auto;
  background-color:darkgray;
  padding: 25%;
}
li:hover {
  background-color: rosybrown;
  cursor: pointer;
}
li:focus{
  background-color: darkred;
}
textarea {
  width: 100%
}
body {
  background-color: gray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

/* bonus section */

#bonusView {
  display: flex;
}
#inputForm {
  width: 25%;
  margin-left: 10%;
}
.bonusForm {
  display: flex;
  flex-flow: column wrap;
  max-height: 12vh;
}
input {
  margin-top: 2%;
  border-style: none;
  padding: 2%;
  margin-right: 10%;
  width: 75%;
}
input:focus {
  outline: none;
  background-color: rosybrown;
}
.btn {
  margin-left: 12.5%;
  width: 50%;
  text-align: center;
  border-radius: 25px;
  margin-top: 2%;
  padding: 2%;
  color: whitesmoke;
}
.btn:hover {
  background-color: rosybrown;
}
